/*Li Ador Noirrit*/
@import url('https://fonts.cdnfonts.com/css/li-ador-noirrit');
.liAdor {
  font-family: 'Ador Noirrit', sans-serif;
}
.hind-madurai{
  font-family: "Hind Madurai", sans-serif;
}
.roboto {
  font-family: "Roboto", sans-serif;
}
.inter {
  font-family: "Inter", sans-serif;
}
